.wrapperstyle1{
    background-color:#fafafa;
    color: #999999;
  }
  
  .flex{
    background-color: #f2f2f2;
    display: flex;
    height: 70vh;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  
  
  .innerleft{
    display: flex;
    flex-direction: column;
    width:40vw;
  }
  
  .innerright{
    display: flex;
    padding: 0;
    max-width: 40%;
  }