.cardWrapper {
  border-color: white;
}

.cardWrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px rgb(255, 189, 6);
  animation: App-logo-spin 0.8s;
}

.cardBody {
  background-color: #f2f2f2;
  max-height: 80vh;
  min-height: 30vh;
  text-align: left;
}

.cardFoooter {
  font-size: 0.7em;
}

@keyframes App-logo-spin {
  0% {
    box-shadow: 0px 0px 0px rgb(255, 189, 6);
  }
  100% {
    box-shadow: 0px 0px 8px rgb(255, 189, 6);
  }
}

@media (max-width: 576px) {
  .cardBody {
    min-height: 0;
  }
}
