
@import url('https://fonts.googleapis.com/css?family=Cinzel|Satisfy|Special+Elite|Volkhov&display=swap');
.videoheader{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.FullscreenVideoWrap{
  position: absolute;
  top:10;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.FullscreenVideoWrap video{
  min-width: 100%;
  min-height: 100%;
}

.headeroverlay{
  height:100vh;
  width:100vw;
  position: absolute;
  top: 10;
  left: 0;
  background: rgba(34,33,33,0.52);
  z-index: 0;
}

.headercontent{
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 20%;
  color: white;
  /* font-family: 'Satisfy', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Special Elite', cursive; */
  font-family: 'Volkhov', serif;
}

.headercontent p{
  z-index: 1;
  color: white;
  font-family: 'Volkhov', serif;
}
