@import url('https://fonts.googleapis.com/css?family=Cinzel|Satisfy|Special+Elite|Volkhov&display=swap');

.cardDeck {
    /* display: flex; */
    overflow: hidden;
    padding: 1vh 3vw 1vh 3vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.titleTextbox{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2.5rem;
  font-family: 'Volkhov', serif;
}

.titleTextbox h2{
  margin-bottom: 1.5rem;
  font-weight: bold;
  color:  #FF8000;
}




@media (max-width: 1200px)
{
    .cardDeck {
        margin-left: 8vw;
        margin-right: 8vw;
    }
}


@media (max-width: 1000px)
{
    .cardDeck {
        margin-left: 0vw;
        margin-right: 0vw;
    }
}

@media (max-width: 576px)
{
    .cardDeck {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
