.wrapper {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: -30vh 10vw 10vh 10vw;
  background-color: rgb(255, 255, 255);
  padding: 10vh 0 10vh 0;
  z-index: 99;
  
}

.wrapper_list {
  padding-top: 24px;
  padding-left: 5vmin;
  flex-basis: 1;
  max-width: 35%;
}

.wrapper_post {
  flex-basis: 2;
  max-width: 65%;
}

.link_div{
  margin-top: 20px;
}

.navlink{
    color: rgba(0, 0, 0, 0.5);
}

.navlink:hover{
    color: rgb(0, 0, 0);
    text-decoration:none;
}

.link_p{
  margin-bottom: 0.1vh;
  font-size: 14px;
}
